@use "./constants.scss" as *;

.block {
  padding: 15px;

  @media screen and (max-width: $s-width-content) {
    padding: 10px;
  }

  background: rgba(17, 5, 98, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cards-wrapper {
  @include flex($gap: $cards-gap, $align: center);
  overflow-x: auto;
  overflow-y: hidden;

  @media screen and (max-width: $m-width-content) {
    overflow-x: auto;
  }

  .card {
    @include flex(column, center, center, 5px);

    &-forecast {
      pointer-events: none;
    }
  }

  &::-webkit-scrollbar {
    $height: 5px;
    height: $height;
    border-radius: 15px;
    margin-top: -$height;
    opacity: 0;
    position: relative;
    top: 5px;
    @media screen and (max-width: $s-width-content) {
      display: none;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 0 15px 15px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 15px;
  }

  @media screen and (max-width: $s-width-content) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.forecast-hours {
  @include padding;
  max-width: 860px;
  @include flex($direction: column, $gap: 30px);
}

.blocks {
  @extend %maxWidth;
  @include flex(row, flex-start, baseline, 30px);
  flex-wrap: wrap;

  .forecast {
    @include padding;
    @include flex($direction: column, $gap: 30px);

    .forecast-block {
      @include flex($gap: $cards-gap, $align: center);
      max-width: 470px;
      overflow-x: auto;
      overflow-y: hidden;

      .card {
        cursor: pointer;
      }
    }
  }
}

.line {
  width: 100%;
  height: 300px;
  // max-width: 1070px;
}
