@use "./constants.scss" as *;

body {
  color: $color;
  background-color: $bc;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h1,
  h2,
  h3,
  h4,
  p,
  span {
    margin: 0;
  }

  * {
    box-sizing: border-box;
    max-width: 100%;
  }

  p, span {
    @extend %p;
  }

  @include flex($direction: column, $justify: center);
  @include bodyGap;
}

.main {
  @extend %maxWidth;
  @include padding('main');
  overflow: hidden;
  @include flex(column, center, baseline, 50px);
  z-index: 1;

  .main-info-wrap {
    @extend %maxWidth;
    max-width: 1800px;
    @include flex($align: center, $justify: space-between, $gap: 10px);

    @media screen and (max-width: $xs-width-content) {
      flex-direction: column;
      align-items: baseline;
      gap: 20px;
    }
    .main-info {
      @include flex(row, center, flex-start, 15px);
      @media screen and (max-width: $s-width-content) {
        gap: 0;
      }

      .text-info {
        @include flex(column, flex-start, center, 10px);
        @media screen and (max-width: $s-width-content) {
          gap: 5px;
        }

        .celsius {
          @extend %h1
        }
      }

      .type-of_wthr_img {
        width: 50px;

        @media screen and (max-width: $m-width-content) {
          width: 35px;
        }
      }
    }

    .decorate-wrap {
      max-width: 30%;
      align-self: center;

      @media screen and (max-width: $xs-width-content) {
        max-width: 80%;
        z-index: 0;
        opacity: .5;
        position: absolute;
        filter: blur(2px);
        pointer-events: none;
      }

      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
  }
}

.block {
  padding: 15px;

  @media screen  and (max-width: $s-width-content) {
    padding: 10px;
  }

  background: rgba(17, 5, 98, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cards-wrapper {
  // flex-wrap: nowrap;
  @include flex($gap: $cards-gap);
  // display: flex;
  overflow-x: auto;
  overflow-y: hidden;

  @media screen and (max-width: $m-width-content) {
    overflow-x: auto;
  }

  .card {
    @include flex(column, center, center, 5px);
  }
}

.forecast-hours {
  @include padding;
}

.blocks {
  @extend %maxWidth;
  @include padding;
  @include flex(row, baseline, baseline, 30px);
  flex-wrap: wrap;

  .forecast {
    @include flex(column, center, center, 10px);

    .card {
      cursor: pointer;
    }
  }
}
